<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" id="maplayerList">
            <p class="nav-item sidebar-concept">
                <a class="nav-link" href="index.html"><i class="fa fa-home" style="font-size: 18px;"></i> Vista General</a>
            </p>
            <ul class="nav-title layers">
                <ol class="organizaciones-load">
                    <li class="" id="organizaciones-load">
                        <i class="fa fa-sitemap"></i>Organizaciones<i class="fa fa-caret-down pull-right" style="color: #036920"></i>
                    </li>
                    <li class="nav-item new-project">
                        <a href="#" data-toggle="modal" data-target="#displayModalToCreateProject" class="nav-link"><i class="fa fa-plus"></i> New Project <span class="badge badge-primary"></span></a>
                    </li>
                </ol> 
            </ul>
            <ul class="nav-title layers">
                <ol class="variables-load">
                    <li class="" id="variables-load">
                        <i class="fa fa-clipboard"></i> Variables<i class="fa fa-caret-down pull-right" style="color: #036920"></i>
                    </li>
                    <li class="nav-item variables-item">
                        <a href="variable.html" class="nav-link">
                        <i class="fa fa-th-list"></i>  Variables Globales
                         </a>
                    </li>
                </ol> 
            </ul>
            <ul class="nav navbar-nav d-md-down-none">
                <li class="nav-item px-3">
                  <a class="nav-link" href="organization.html" id="subTitleHref" ><p  class="h5" id="subTitle"></p> </a>
                </li>
            </ul>
            
            
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
