<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" id="maplayerList">
            <p class="nav-item sidebar-concept">
                <a class="nav-link" href="index.html"><i class="fa fa-home" style="font-size: 18px;"></i> Vista General</a>
            </p>
            
            <!--<li class="nav-title layers">
                <i class="fa fa-th-list"></i> Proyectos
            </li>
            <li class="nav-item">
                <a class="nav-link" href="organization.html"> 
                  <i class="fa fa-th-list"></i> PROJECTS 
                </a>
            </li>
            <li class="nav-title">
                <i class="fa fa-th-list"></i> VARIABLES
            </li>-->
            <li class="nav-item">
                <a href="#" id="actionDisplayModalToCreateVariable" data-toggle="modal" data-target="#displayModalToCreateVariable" class="nav-link">
                  <i class="fa fa-plus"></i> CREATE VARIABLE
                   <span class="badge badge-primary"></span>
                 </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
