<div class="animated fadeIn">
    <div class="card">
        <div class="card-header VariablesOraganization">
            <img src="img/logo.png" width="15px" alt=""> Variables of the Organization
        </div>
        <div class="card-body">
            <table id="tableVariables" class="table table-responsive-sm table-striped" width="100%"></table>
        </div>
    </div>
</div>
