<div id="alerts">
<!--     <div class="alert alert-success" id="alert-success" role="alert" style="display:none;">
    </div>
    <div class="alert alert-info" id="alert-info" role="alert" style="display:none;">
    </div>
    <div class="alert alert-warning" id="alert-warning" role="alert" style="display:none;">
    </div>
    <div class="alert alert-danger" id="alert-danger" role="alert" style="display:none;">
    </div> -->
</div>
