<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-title">
                <a href="organization.html" class="nav-link link-perfil"><i class="fa fa-angle-right"></i> Organization</a>
            </li>
            <li class="nav-title">
                <a href="variable.html" class="nav-link link-perfil"><i class="fa fa-angle-right"></i> Variables</a>
            </li>
            <li class="nav-title">
                <a href="admin.html" class="nav-link link-perfil"><i class="fa fa-angle-right"></i> Users</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
