<div class="modal fade" id="displayModalToCreateGroupLotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- <div class="modal-content"> -->
        	<div id="mapLotes">
        		ds
        	<!-- </div> -->
    </div>
</div>
