<div class='ui-control'>
    <!--   <div id='pan' class='ui-pan'>
    <a href='#' id='center' class='panner center'>&#9672;</a>
    <a href='#' id='up' class='panner up'>&#9650;</a>
    <a href='#' id='right' class='panner right'>&#9654;</a>
    <a href='#' id='down' class='panner down'>&#9660;</a>
    <a href='#' id='left' class='panner left'>&#9664;</a>
  </div> -->
    <div id='zoom-bar' class='ui-zoombar dragdealer'>
        <div id='handle' class='handle'>0</div>
    </div>
</div>
