<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" id="maplayerList">
            <li class="nav-item">
                <a class="nav-link" href="organization.html"><i class="glyphicon glyphicon-home
                    "></i> Dashboard <span class="badge badge-primary">NEW</span></a>
            </li>
            <li class="nav-title layers">
                    <i class="fa fa-angle-right"></i> USERS
            </li>
            <li class="nav-item">
                <a href="#" data-toggle="modal" data-target="#displayModalToCreateUser" class="nav-link"><i class="fa fa-plus"></i> Crear Usuarios <span class="badge badge-primary"></span></a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
