<div class="animated fadeIn">
    <div class="card">
        <div class="card-header card-table-organization">
            <i class="fa fa-users"></i> USER OF THE ORGANIZATION
        </div>
        <div class="card-body">
            <table id="tableUsers" class="table table-responsive-sm table-striped" width="100%"></table>
        </div>
    </div>
</div>
