<div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b class="varibleNameStats">Summary</b></small>
</div>
<hr class="mx-3 my-0">
<div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b>LOTS WITH MAXIMUM VALUES</b></small>
</div>
<div class="callout callout-danger m-0 py-3" id="maximos">
</div>
<div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b>LOTS WITH MINIMUM VALUES</b></small>
</div>
<div class="callout callout-danger m-0 py-3" id="minimos">
</div>
