<div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b class ="varibleNameStats">Summary</b></small>
</div>
<hr class="transparent mx-3 my-0">
<div class="callout callout-warning m-0 py-3" style="height: 80px;">
    <div class="float-left" style="padding-left: 20px">
        <h3 id="stats_numLotes">0</h3>
        <small class="text-muted mr-3"><i class="fa fa-hand-o-right"></i>&nbsp;# de lotes</small>
    </div>
    <div class="float-right" style="padding-right: 20px">
        <h3 id="stats_promedio">0.0</h3>
        <small class="text-muted mr-3"><i class="fa fa-hand-o-right"></i>&nbsp;Promedio</small>
    </div>
</div>
<hr class="transparent mx-3 my-0">
<div class="callout callout-warning m-0 py-3" style="height: 80px;">
    <div class="float-left" style="padding-left: 20px">
        <h3 id="stats_minimo">0</h3>
        <small class="text-muted mr-3"><i class="fa fa-hand-o-right"></i>&nbsp;Min</small>
    </div>
    <div class="float-right" style="padding-right: 20px">
        <h3 id="stats_maximo">0</h3>
        <small class="text-muted mr-3"><i class="fa fa-hand-o-right"></i>&nbsp; Max</small>
    </div>
</div>
<hr class="transparent mx-3 my-0">
<div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b>BATCH HISTOGRAM</b></small>
</div>
<hr class="transparent mx-3 my-0">
<div class="callout callout-danger m-0 py-3">
    <canvas id="canvas"></canvas>
</div>
<hr class="transparent mx-3 my-0">
<div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b>LEGEND</b></small>
</div>
<hr class="transparent mx-3 my-0">
<div class="callout callout-danger m-0 py-3">
    <div id="legenda"></div>
</div>
