<div class="modal fade" id="displayModalToCreateGroupLotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card cardmodal-group">
                        <div class="card-header">
                            <strong><i class="fa fa-plus"></i>CREATE GROUP OF LOTS</strong>
                            <!-- <small>Form</small> -->
                        </div>
                        <form id="formCreateGroupLotes" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="key-group">KEY-GROUP</label>
                                    <input id="key-group" type="text" class="form-control" name="key-group" placeholder="Ejm: Plants" required>
                                </div>
                                <div class="form-group">
                                    <label for="value-group">VALUE-GROUP</label>
                                    <input id="value-group" name="value-group" rows="9" class="form-control" placeholder="Ejm: blueberries"></input>
                                </div>
                                <div class="form-group">
                                    <label for="maplayer-description">LOTES</label>
                                    <textarea id="group-lotes-ids" name="group-lotes-ids" rows="9" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="createGroupLotesVectorCancel" data-dismiss="modal">CANCEL<i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-success" id="createGroupLotesVector">CREATE <img src="img/logo.png" width="15%" alt=""></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
