<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" id="maplayerList">
            <p class="nav-item sidebar-concept">
                <a class="nav-link" href="index.html"><i class="fa fa-home" style="font-size: 18px;"></i> Vista General</a>
            </p>
            <ul class="cartografia-grupos nav-title">
                <ol class="cartografia-grupos">
                    <li class="nav-title layers" id="cartografia-grupos">
                        <i class="fa fa-th-large"></i> Cartografía<i class="fa fa-caret-down pull-right" style="color: #036920"></i>
                    </li>
                </ol>
            </ul>
            <li class="nav-title agrupacion">
                <i class="fa fa-object-ungroup agrupar"></i> Grupos
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btncreateGroup" href="#" data-toggle="modal" data-target="#displayModalToCreateGroupLotes" class="nav-link"> Create group of lotes</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
