.card-img-top {
    background-attachment: fixed;
    background-image: url('../../template/img/paltos_2_preview.jpeg');
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

.card-logo {
    display: block;
    margin: auto;
    margin-top: 70px;
    opacity: 0.8;
}

div.modal-content.registerBorder {
    background: #e2e0e0;
    color: #000;
    border-radius: 10px;
    opacity: 0.9;
}

input.form-control.validate {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid rgb(190, 190, 190) !important;
    color: #fff;
}

input.form-control.validate {
    width: 100%;
}

i.fa {
    margin-right: 3%;
}

h1.align-center {
    font-family: 'Anke', 'AnkeRegular';
    font-size: 23px !important;
    margin-top: 5%;
    margin-left: 7%;
    color: #036920;
}

h3#perfilUser-name.card-title {
    font-family: 'Anke', 'AnkeRegular';
    text-transform: uppercase;
    color: #036920;
    padding-top: 5px;
}


button.btn.modal-register {
    font-family: 'Anke', 'AnkeRegular';
    background: #036920;
    border-radius: 10px;
    color: #fff;
}

label.error {
    color: red;
    font-size: 11px;
    width: 100%;
}

input.form-control.validate {
    color: #000;
}
