<div class="modal fade" id="displayModalToChangePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card">
                            <div class="card-header">
                                    <strong><i class="fa fa-plus"></i>CHANGE PASSWORD</strong>
                                    <!-- <small>Form</small> -->
                                </div>
                        <form id="formChangePassword" enctype="multipart/form-data">
                            <div class="card-body">
                                  <div class="form-group">
                                    <label for="password">NEW PASSWORD</label>
                                    <input type="password" id="fieldChangePassword" class="form-control" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="password">CONFIRM NEW PASSWORD</label>
                                    <input type="password" class="form-control" name="passwordrepeat" placeholder="Password">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="changePasswordCancel" data-dismiss="modal">CANCEL <i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-success" id="changePassword">CHANGE <img src="img/logo.png" width="15%" alt=""></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</div>
