<div class="card">
    <div class="card-img-top" >
        <img class="card-logo" data-src="holder.js/100px180/?text=Image cap" src="img/logo.png" width="40px">
    </div>
    
    <div class="card-body">
        <h3 class="card-title" id="perfilUser-name"></h3>
        <p class="card-text">
            <strong>Email : </strong> <span id="perfilUser-email"> </span>
            <br>
            <strong>Movil : </strong> <span id="perfilUser-mobile"> </span>
            <br>
            <strong>Telefono : </strong> <span id="perfilUser-Telefono"> </span>
            <br>
            <strong>Cargo : </strong> <span id="perfilUser-title"> </span>
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <strong>Organization:</strong> <span id="perfilUser-organization"></span> </li>
        <li class="list-group-item"> <strong>Rol:</strong> <span id="perfilUser-role"></span></li>
        <li class="list-group-item"> <strong>Access:</strong> <span id="perfilUser-access"></span> </li>
        <li class="list-group-item"> <strong>Cretion date:</strong> <span id="perfilUser-createdAt"></span> </li>
        <li class="list-group-item"> <strong>Last Update:</strong> <span id="perfilUser-updatedAt"></span> </li>
    </ul>
    <div class="card-body">
        <a href="#" data-toggle="modal" data-target="#displayModalToUpdatePerfil" class="card-link btn btn-secondary">Update profile</a>
        <a href="#" data-toggle="modal" data-target="#displayModalToChangePassword" class="card-link btn btn-secondary">Change Password</a>
    </div>
</div>
